In [5]:
# Add the Pandas dependency.
import pandas as pd
import os

In [6]:
# Files to load
#student_data_to_load = "Resources/students_complete.csv"
#student_data_to_load = os.path.join("Resources", "students_complete.csv")
file_to_upload = os.path.join("Resources\students_complete.csv")

In [7]:
file_to_read = pd.read_csv(file_to_upload)
file_to_read

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75